.vscode
.DS_Store
python_manual.txt
sklearn_scipy_sympy_stat_guide.txt
keras_tensorflow_guide.txt
DS_Udacity
git_howto.txt
mlops_udacity
airbnb_data_analysis
eda_fe_summary
html_css_bootstrap_guide.md
data
udacity-cd0171--software-engineering-for-data-scientists
cd0017-introduction-to-data-science
jekyll_web_guide
flask_guide
machine_learning_ibm
.ipynb_checkpoints